.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

h2, p{
  margin-bottom: 1em;
  width: 40vw;
}

.about a{
  text-decoration: underline;
}

#linkShared{
  color: #FF7A00;
  cursor: pointer;
}

#linkShared:hover{
  font-weight: bold;
}


