<div class="about">
  <h2>Sobre o moments</h2>
  <p>Estamos aqui de passagem, em um imenso aprendizado.<br>
  Vivemos momentos felizes, tristes e difíceis...<br>
  Inteligente é aquele que sabe lidar com os seus sentimentos.<br>
  Se permite sofrer, chorar, ficar irado, brigar.<br>
  Mas consegue, apesar de tudo isso, prosseguir sorrindo.<br>
  Usar o que lhe foi ensinado de forma sempre positiva.<br>
  Transformar a sua vida deixando-a leve e mais alegre.<br>
  Lembre-se:
  Você é o autor desta "novela".<br>
  E aí você se lembra que temos que dançar conforme a música?<br>
  Pois nossa vida oscila,
  Um dia ela poderá tocar uma música triste.<br>
  Ou em algum outro momento uma música romântica.<br>
  Mas permita que toque muitas vezes "aquela música",<br>
  Sim, aquela mesma!<br>
  Que nos cria expectativa de sentir borboletas na barriga.</p>

  <p> Compartilhe seus momentos, e receba comentários de quem você mais gosta! </p>

  <a routerLink="/moments/new" id="linkShared">Quero compartilhar meu Momento!</a>
</div>
